<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/layout}">

<head>
  <title>SportShop</title>
</head>

<body>
  <div layout:fragment="content">
    <!-- SECTION -->
    <div class="section">
      <h2 class="text-center">Nuestras categorias</h3>
        <!-- container -->
        <div class="container">
          <div class="row">
            <div class="col-md-4 col-xs-6" th:each="category : ${categories}">
              <div class="shop">
                <div class="shop-img">
                  <img th:src="@{'/img/categorias/' + ${category.imageUrl}}" th:alt="${category.name}">
                </div>
                <div class="shop-body">
                  <h3 th:text="${category.name}"><br>Collection</h3>
                  <a href="#" class="cta-btn">Shop now <i class="fa fa-arrow-circle-right"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>

    <!-- SECTION -->
    <div class="section">
      <h2 class="text-center">Lo mas nuevo</h3>
        <!-- container -->
        <div class="container">
          <!-- Products tab & slick -->
          <div class="col-md-12">
            <div class="row">
              <div class="products-tabs">
                <!-- tab -->
                <div id="tab1" class="tab-pane active">
                  <div class="products-slick" data-nav="#slick-nav-1">
                    <!-- product -->
                    <div class="product" th:each="product : ${products}">
                      <div class="product-img">
                        <!-- Usamos la URL de imagen del DTO -->
                        <img th:src="@{'/img/productos/' + ${product.imageUrl}}" th:alt="${product.name}">
                        
                      </div>
                      <div class="product-body">
                        <h3 class="product-name">
                          <a th:href="@{'/api/v1/products/' + ${product.id}}" th:text="${product.name}"></a>
                        </h3>

                        <!-- Solo mostramos el precio actual ya que no tenemos precio anterior -->
                        <h4 class="product-price"
                          th:text="${'$' + #numbers.formatDecimal(product.price, 1, 'COMMA', 2, 'POINT')}">
                          $980.00
                        </h4>
                        <div class="product-btns">
                          <button class="add-to-wishlist">
                            <i class="fa fa-heart-o"></i>
                            <span class="tooltipp">add to wishlist</span>
                          </button>
                          <button class="add-to-compare">
                            <i class="fa fa-exchange"></i>
                            <span class="tooltipp">add to compare</span>
                          </button>
                          <button class="quick-view">
                            <i class="fa fa-eye"></i>
                            <span class="tooltipp">quick view</span>
                          </button>
                        </div>
                      </div>
                      <div class="add-to-cart">
                        <button class="add-to-cart-btn" th:disabled="${product.stockQuantity <= 0}">
                          <i class="fa fa-shopping-cart"></i>
                          <span th:text="${product.stockQuantity <= 0 ? 'Out of Stock' : 'add to cart'}"></span>
                        </button>
                      </div>
                    </div>
                  </div>
                  <div id="slick-nav-1" class="products-slick-nav"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>

</body>

</html>